#menu {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-items: stretch;

  text-align: right;
  font-size: larger;
  font-family: sans-serif;
  font-size: 1.4rem;
}

#menu * {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

#menu input,
#menu select {
  border: none;
  box-shadow: 0 0 0 2px #00000077;
  background: #00000044;
  font-size: 1.4rem;
  outline: none;
  color: white;
}

#arena {
  background-image: url(arena/chess.png);
}